.dot:hover {
    fill: orange;
}
.legend {
    font-size: 14px;
}
.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 5px;
    background: lightsteelblue;
    border: 1px solid #333;
    border-radius: 3px;
    pointer-events: none;
    visibility: hidden;
}